[package]
name = "loader"
version = "0.1.0"
edition = "2024"

[dependencies]
spleen-font = { version = "0.2.0", features = ["s8x16"] }
uefi = { version = "0.36.1", features = ["logger", "panic_handler"] }
